In [15]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

rds_connection_string = f'postgres:{password}@localhost:5432/thor'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [16]:
# display the table names in the thor database
engine.table_names()

['THOR_WWII_AIRCRAFT',
 'THOR_WWII_MASTER',
 'THOR_WWII_STATION_LOCATION',
 'THOR_WWII_WEATHER']

In [17]:
# path to the THOR_WWII_AIRCRAFT_GLOSS.csv file
aircraft_csv = "./Resources/THOR_WWII_AIRCRAFT_GLOSS.csv"

# load the THOR_WWII_AIRCRAFT_GLOSS.csv file into a df
aircraft_df = pd.read_csv(aircraft_csv)
aircraft_df.head()

,GLOSS_ID,AIRCRAFT,NAME,FULL_NAME,AIRCRAFT_TYPE,HYPERLINK
0,1,A20,A20,Douglas A-20 Havoc,Boston Light Bomber / Night-Fighter,http://militaryfactory.com/aircraft/detail.asp...
1,2,A24,A24,Douglass A-24 Banshee,Dive Bomber / Reconnaissance,http://militaryfactory.com/aircraft/detail.asp...
2,3,A26,A26,Douglas A-26 Invader,Medium Bomber / Heavy Assault,http://militaryfactory.com/aircraft/detail.asp...
3,4,A36,A36,North American A-36 Apache (Invader),Ground Attack / Dive Bomber,http://militaryfactory.com/aircraft/detail.asp...
4,5,ALBA,Albacore,Fairey Albacore,Naval Torpedo Bomber,http://militaryfactory.com/aircraft/detail.asp...

In [18]:
# Create a new dataframe with the fields needed for the insert
new_aircraft_df = aircraft_df[['AIRCRAFT', 'NAME', 'FULL_NAME', 'AIRCRAFT_TYPE','HYPERLINK']].copy()
new_aircraft_df.head()

,AIRCRAFT,NAME,FULL_NAME,AIRCRAFT_TYPE,HYPERLINK
0,A20,A20,Douglas A-20 Havoc,Boston Light Bomber / Night-Fighter,http://militaryfactory.com/aircraft/detail.asp...
1,A24,A24,Douglass A-24 Banshee,Dive Bomber / Reconnaissance,http://militaryfactory.com/aircraft/detail.asp...
2,A26,A26,Douglas A-26 Invader,Medium Bomber / Heavy Assault,http://militaryfactory.com/aircraft/detail.asp...
3,A36,A36,North American A-36 Apache (Invader),Ground Attack / Dive Bomber,http://militaryfactory.com/aircraft/detail.asp...
4,ALBA,Albacore,Fairey Albacore,Naval Torpedo Bomber,http://militaryfactory.com/aircraft/detail.asp...

In [21]:
# load the data into the table
new_aircraft_df.to_sql(name='THOR_WWII_AIRCRAFT', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "AIRCRAFT" of relation "THOR_WWII_AIRCRAFT" does not exist
LINE 1: INSERT INTO "THOR_WWII_AIRCRAFT" ("AIRCRAFT", "NAME", "FULL_...
                                          ^

[SQL: INSERT INTO "THOR_WWII_AIRCRAFT" ("AIRCRAFT", "NAME", "FULL_NAME", "AIRCRAFT_TYPE", "HYPERLINK") VALUES (%(AIRCRAFT)s, %(NAME)s, %(FULL_NAME)s, %(AIRCRAFT_TYPE)s, %(HYPERLINK)s)]
[parameters: ({'AIRCRAFT': 'A20', 'NAME': 'A20', 'FULL_NAME': 'Douglas A-20 Havoc', 'AIRCRAFT_TYPE': 'Boston Light Bomber / Night-Fighter', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=186'}, {'AIRCRAFT': 'A24', 'NAME': 'A24', 'FULL_NAME': 'Douglass A-24 Banshee', 'AIRCRAFT_TYPE': 'Dive Bomber / Reconnaissance', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=491'}, {'AIRCRAFT': 'A26', 'NAME': 'A26', 'FULL_NAME': 'Douglas A-26 Invader', 'AIRCRAFT_TYPE': 'Medium Bomber / Heavy Assault', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=91'}, {'AIRCRAFT': 'A36', 'NAME': 'A36', 'FULL_NAME': 'North American A-36 Apache (Invader)', 'AIRCRAFT_TYPE': 'Ground Attack / Dive Bomber', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=687'}, {'AIRCRAFT': 'ALBA', 'NAME': 'Albacore', 'FULL_NAME': 'Fairey Albacore ', 'AIRCRAFT_TYPE': 'Naval Torpedo Bomber', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=1390'}, {'AIRCRAFT': 'AUDA', 'NAME': 'Audax', 'FULL_NAME': 'Hawker Audax', 'AIRCRAFT_TYPE': 'Biplane Light Bomber', 'HYPERLINK': 'http://en.wikipedia.org/wiki/Hawker_Hart'}, {'AIRCRAFT': 'B17', 'NAME': 'FORT', 'FULL_NAME': 'B-17 Flying Fortress', 'AIRCRAFT_TYPE': 'Heavy Bomber', 'HYPERLINK': 'http://boeing.com/history/products/b-17-flying-fortress.page'}, {'AIRCRAFT': 'B24', 'NAME': 'Liberator', 'FULL_NAME': 'B-24 Liberator', 'AIRCRAFT_TYPE': 'Heavy Bomber', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=80'}  ... displaying 10 of 52 total bound parameter sets ...  {'AIRCRAFT': 'WHIT', 'NAME': 'WHITLEY', 'FULL_NAME': 'Armstrong Whitworth Whitley', 'AIRCRAFT_TYPE': 'Heavy Bomber', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=309'}, {'AIRCRAFT': 'Wirraway', 'NAME': 'Wirraway', 'FULL_NAME': 'CAC Wirraway', 'AIRCRAFT_TYPE': 'Multi-role Aircraft / Trainer', 'HYPERLINK': 'http://militaryfactory.com/aircraft/detail.asp?aircraft_id=846'})]
(Background on this error at: http://sqlalche.me/e/13/f405)