In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

rds_connection_string = f'postgres:{password}@localhost:5432/thor'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
# display the table names in the thor database
engine.table_names()

In [ ]:
# path to the THOR_WWII_AIRCRAFT_GLOSS.csv file
aircraft_csv = "./Resources/THOR_WWII_AIRCRAFT_GLOSS.csv"

# load the THOR_WWII_AIRCRAFT_GLOSS.csv file into a df
aircraft_df = pd.read_csv(aircraft_csv)
aircraft_df.head()

In [ ]:
# Create a new dataframe with the fields needed for the insert
new_aircraft_df = aircraft_df[['AIRCRAFT', 'NAME', 'FULL_NAME', 'AIRCRAFT_TYPE','HYPERLINK']].copy()
new_aircraft_df = new_aircraft_df.rename(columns={
                                                    'AIRCRAFT': 'aircraft', 
                                                    'NAME': 'name',
                                                    'FULL_NAME': 'full_name',
                                                    'AIRCRAFT_TYPE':'aircraft_type',
                                                    'HYPERLINK':'hyperlink'
})

new_aircraft_df.head()

In [ ]:
# load the data into the table
new_aircraft_df.to_sql(name='thor_wwii_aircraft', con=engine, if_exists='append', index=False)

In [ ]:
# test that the data was loaded into the database
pd.read_sql_query('select * from thor_wwii_aircraft', con=engine).head()